.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    padding: 5px;
}
h1 {
    font-family: Alegreya;
}
.inputfield {
    padding-top: 5px;
    margin: -20px;
}
.buttons button {
    margin-right: 15px;
    margin-top: 15px;
}