@import url('https://fonts.googleapis.com/css2?family=Alegreya+SC:ital,wght@0,400;0,500;0,700;0,800;0,900;1,400;1,500;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');
header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background: #243447;
    border-top:5px solid #141d26;
    border-bottom:5px solid #141d26;
    border-left:2px solid #141d26;
    border-radius: 15px;
    margin-bottom: 5px;
    margin-top: 5px;
  }
  
header img{
    width: 60px;
    height: 60px;
    border-radius: 50px;
}
h2 {
    display: inline-block;
    padding: 5px 5px; /* Adjust the padding as needed */
    border-radius: 10px; /* Optional: Add rounded corners */
    position: relative;
    z-index: 1;
    color: #e2e2d2; /* Set the text color */
    background-image: url(../assets/image4.jpg); /* Set the background image */
    background-size: cover; /* Cover the entire area of the h3 */
    -webkit-background-clip: text; /* Clip the background to the text */
    background-clip: text; /* Clip the background to the text */
    -webkit-text-fill-color: transparent; /* Hide the text content */
    color: #e2e2d2;
    font-family:Patua One, serif;
    font-size: 24px;
}