@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500');
*{
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}
body {
  font-family: 'Roboto', sans-serif;
}
.sidebar {
  position: fixed;
  width: 230px;
  height: 100%;
  background: #141d26;
  transition: all .5s ease;
}
.sidebar header {
  font-size: 22px;
  color: white;
  line-height: 70px;
  text-align: center;
  background: #ff8923;
  user-select: none;
}
.sidebar ul a{
  display: block;
  height: 100%;
  width: 100%;
  line-height: 55px;
  font-size: 18px;
  color: #e2e2d2;
  padding-left: 30px;
  box-sizing: border-box;
  border: 1px solid #243447;
  border-radius: 15px;
  transition: .4s;
}
ul li:hover a{
  padding-left: 50px;
}
.sidebar ul a i{
  margin-right: 16px;
}
.sidebar{
  left: 0;
}
label #btn{
  left: 250px;
  opacity: 0;
  pointer-events: none;
}

section{
  position: fixed;
  margin-left: 230px;
  width: 83%;
}
section{
  background: #141d26;
  color: #e2e2d2;
  background-position: center;
  background-size: cover;
  height: 100vh;
  transition: all .5s;
}

