<div class="form-container">
    <p class="title">User Registration</p>
    <form class="form">
      <input type="email" class="input" id="email" name="email" placeholder="Email" required>
      <input type="text" class="input" id="password" name="email" placeholder="Password" required>
      <input type="text" class="input" id="name" name="name" placeholder="Name" required>
      <input type="text" class="input" id="address" name="address" placeholder="Address" required>
      <input type="text" class="input" id="contact" name="contact" placeholder="Contact" required>
      <select class="input" id = "gender" name="gender" required>
        <option value="null"disabled selected>---Select Gender---</option>
        <option value="Male">Male</option>
        <option value="Female">Female</option>
        <option value="Other">Other</option>
      </select>
       <button class="form-btn" (click)="submitForm()">Register</button>
    </form>
    <p class="sign-up-label">
      Already have an account?<span class="sign-up-link"><a routerLink="/loginpage">Login</a></span>
    </p>
  </div>