/* Reset default margin and padding */
body, table {
    margin: 0;
    padding: 0;
  }
  
  /* Styles for the table */
  .display {
    margin: 10px auto;
    margin-top: 15px;
    margin-bottom: 50px;
    width: 98%;
    height: 80%;
    font-family: Arial, sans-serif;
    border-collapse:separate;
    border-radius: 10px;
    overflow:auto;
  }
  
  table {
    width: 100%;
    background-color: #141d26;
    border-right: 1px solid #243447;
    border-left: 1px solid #243447;
  }
  
  th, td {
    padding: 5px 5px;
    text-align: left;
    font-size: 14px;
    border-bottom: 1px solid #243447;
  }
  
  th {
    background-color: #c51f5d;
    color: #e2e2d2;
    font-weight: 450;
    text-transform: uppercase;
    border-radius: 8px;
  }
  
  tbody tr:hover {
    background-color: #243447;
  }
  
  /* Button styles */
  .action-buttons {
    display: flex;
    justify-content: space-between;
  }
  /* Add different background color for each button class */
  .addbutton {
    background-color: #3f51b5; /* Change color for Add button */
  }
  
  .editButton {
    background-color: #ff9800; /* Change color for Edit button */
  }
  
  .deleteButton {
    background-color: #cc2936; /* Change color for Delete button */
  }
  
  .action-buttons Button {
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: #e2e2d2;
    font-size: 14px;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
  }
  
  .action-buttons button:hover {
    background-color: #c51f5d;
  }

  .selectPanel {
    width: 100%;
    max-width: 500px; /* Adjust max-width as needed */
    margin: 10px auto; /* Center horizontally */
    margin-bottom: 2px;
    background-color: #243447 ; /* Background color */
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 5px 8px rgba(197, 31, 93, 0.9);	
    padding: 15px; /* Padding */
}

.selectPanel label {
    margin-bottom: 10px; /* Spacing between label and select */
    color: #e2e2d2;
}

.selectPanel select {
    width: 100%; /* Full width */
    padding: 10px; /* Padding */
    border-radius: 5px; /* Rounded corners */
    border: 1px solid #243447; /* Border */
    background-color: #fff; /* Background color */
    font-size: 16px; /* Font size */
}

/* Style for the disabled default option */
.selectPanel select option[disabled] {
    color: #ff9800; /* Disabled option color */
}

.getStudents {
  background-color: #3f51b5;
  margin: auto 20px;
  margin-top: -25px;
}
