<div class="display">
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Grade Level</th>
                <th>Timings</th>
                <th>Max Class Size</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of this.classes">
                <td>{{item.id}}</td>
                <td>{{item.gradeLevel}}</td>
                <td>{{item.timings}}</td>
                <td>{{item.maxClassSize}}</td>
                <td class="action-buttons">
                    <Button class="addbutton"><span class="material-symbols-outlined"> person_add </span> {{item.id}} </Button>
                    <Button class="editButton"><span class="material-symbols-outlined"> edit </span> {{item.id}} </Button>
                    <Button class="deleteButton" (click)="deleteClass(item.id)"><span class="material-symbols-outlined"> delete </span> {{item.id}} </Button>                       
                </td>
            </tr>
        </tbody>
    </table>
</div>
