<div class="container">
    <h1>Username & Password</h1>
    <form (submit)="saveCredentials()">
        <div>
            <mat-form-field>
                <input matInput placeholder="Email" [(ngModel)]="student.email" name="email" required>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <input matInput placeholder="Password" [(ngModel)]="student.password" name="password" required>
            </mat-form-field>
        </div>
        <div>
            <button mat-raised-button color="Secondary" [routerLink]="['/manage-student']">Cancel</button>
            <button mat-raised-button color="primary" type="submit">Save</button>
        </div>
    </form>
</div>