<div class="display">
    <p>This is a Test Project assigned by <strong> FunFox Program </strong> Learning center in <i> Castle Hill, Australia </i> </p>
    <p> Developed by <strong> Usman Jamal </strong></p>
    <p>Technologies/Tools: C#, .Net Core, EF Core, Microsoft SQL Server, Angular</p>
</div>
<div class="display">
    <h4> Project Overview: </h4>
    <ul>
        <li> - A portal system for admins and users </li>
        <li> - Admins can add classes </li>
        <li> - Users can register and enroll in any class </li>
        <li> - Admins can see enrolled users for each class</li>
    </ul>
</div>